@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 95%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.title {
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 2rem;
}
.main-card {
  display: flex;
  flex-direction: row;
}
.card-top-content {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  opacity: 0.8;
  font-weight: 400;
}
.card {
  width: 19rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.card-top-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.5rem;
}
img {
  max-width: 100%;
  height: auto;
}

.btn {
  background-color: hsl(0, 0%, 95%);
  padding: 1rem 2.2rem;
  border-radius: 2rem;
  border: 1px solid hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  text-transform: capitalize;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.card-left {
  background-color: hsl(31, 77%, 52%);
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.card-left .btn {
  color: hsl(31, 77%, 52%);
}

.card-center {
  background-color: hsl(184, 100%, 22%);
}
.card-center .btn {
  color: hsl(184, 100%, 22%);
}

.card-right {
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}
.card-right .btn {
  color: hsl(179, 100%, 13%);
}
